InterfaceDataToDb/Connected Services/DdService/DdService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="YzUP">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="passWord" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="YzUPResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="YzUPResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="YzUPSoapIn">
    <wsdl:part name="parameters" element="tns:YzUP" />
  </wsdl:message>
  <wsdl:message name="YzUPSoapOut">
    <wsdl:part name="parameters" element="tns:YzUPResponse" />
  </wsdl:message>
  <wsdl:portType name="DdServiceSoap">
    <wsdl:operation name="YzUP">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">（验证用户名密码）userName：用户名|passWord：密码</wsdl:documentation>
      <wsdl:input message="tns:YzUPSoapIn" />
      <wsdl:output message="tns:YzUPSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="DdServiceSoap" type="tns:DdServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="YzUP">
      <soap:operation soapAction="http://tempuri.org/YzUP" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="DdServiceSoap12" type="tns:DdServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="YzUP">
      <soap12:operation soapAction="http://tempuri.org/YzUP" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DdService">
    <wsdl:port name="DdServiceSoap" binding="tns:DdServiceSoap">
      <soap:address location="http://122.224.142.235/zzld/DdService.asmx" />
    </wsdl:port>
    <wsdl:port name="DdServiceSoap12" binding="tns:DdServiceSoap12">
      <soap12:address location="http://122.224.142.235/zzld/DdService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>